
//    Font Family

$body-font : 'Roboto', sans-serif;
$title-font : 'Josefin Sans';

/*--------------------------- Color variations ----------------------*/

$theme-color	: #0083ff;
$theme-color2 : #00f2aa;
$body-color		: #989898;
$white			: #ffffff;
$black			: #0a1245;
$grey			: #989898;
$rgba			: rgba(255,255,255,0.8);


/*--------------------------- background Color variations ----------------------*/
$darkbg : #12141d;
$whitebg : #ffffff;
$greybg : #e1fdf5;


/*--------------------------- Border Color variations ----------------------*/
$border : #f6f7fb;